# ignore everything in the root except the "wp-content/uploads & wp-content/upgrade/“ directory.
wp-content/uploads/
wp-content/uploads/*
wp-content/uploads/2016/
wp-content/uploads/2016/*
wp-content/upgrade/
wp-content/wp-cache-config.php

# track this file .gitignore (i.e. do NOT ignore it)
!.gitignore
